<div class="login-page">
  <div class="login-content">
    <!-- левая колонка -->
    <div class="welcome-section">
      <h1>Добро пожаловать</h1>
      
      <p>Кто обзывается - тот сам так называется</p>
    </div>

    <!-- карточка формы -->
    <div class="login-card">
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}

      <form action="/login" method="post">
        <div class="input-group">
          <label for="login">Логин</label>
            <i class="fa-solid fa-user input-icon"></i>        
            <input id="login" name="login" type="text" placeholder="Email" required>
        </div>

        <div class="input-group">
          <label for="password">Пароль</label>
          <i class="fa-solid fa-lock input-icon"></i>        
          <div class="password-wrapper">
            <input id="password" name="password" type="password" placeholder="Пароль" required>
            <i class="fa-solid fa-eye toggle-password"></i>
          </div>
        </div>


        <button type="submit" class="btn-submit">Войти</button>
      </form>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const toggle   = document.querySelector('.toggle-password');
  const password = document.getElementById('password');

  toggle.addEventListener('click', () => {
    // меняем тип input
    const isHidden = password.type === 'password';
    password.type  = isHidden ? 'text' : 'password';

    // меняем иконку: open ↔ slash
    toggle.classList.toggle('fa-eye-slash');
    toggle.classList.toggle('fa-eye');
    
  });
});
</script>


