<div class="login-page">
  <div class="login-content">
    <!-- левая колонка -->
    <div class="welcome-section">
      <h1>Добро пожаловать</h1>
      
      <p>Напиши туда-сюда че нибудь :)</p>
    </div>

    <!-- карточка формы -->
    <div class="login-card">
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}
      {{#if cookies.user_id}}
        <div class="already-auth">
          <p>Вы уже авторизованы</p>
          <a href="/orders/my" class="btn-submit">Перейти к заказам</a>
        </div>
      {{else}}
        <form action="/login" method="post">
          <div class="input-group">
            <label for="login">Логин</label>
              <i class="fa-solid fa-user input-icon"></i>        
              <input id="login" name="login" type="text" placeholder="Логин" required>
          </div>

          <div class="input-group">
            <label for="password">Пароль</label>
            <i class="fa-solid fa-lock input-icon"></i>        
            <div class="password-wrapper">
              <input id="password" name="password" type="password" placeholder="Пароль" required>
              <i class="fa-solid fa-eye toggle-password"></i>
            </div>
          </div>


          <button type="submit" class="btn-submit">Войти</button>
          <a class="btn-submit" href="/auth/mailru" style="display:block; text-align:center; text-decoration:none; margin-top:10px;">
            Войти через Mail.ru
          </a>

          <p class="note">
            Нет аккаунта? <a href="/register" style="color:#fff;">Зарегистрироваться</a>
          </p>

        </form>
      {{/if}}
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const toggle   = document.querySelector('.toggle-password');
  const password = document.getElementById('password');

  toggle.addEventListener('click', () => {
    // меняем тип input
    const isHidden = password.type === 'password';
    password.type  = isHidden ? 'text' : 'password';

    // меняем иконку: open ↔ slash
    toggle.classList.toggle('fa-eye-slash');
    toggle.classList.toggle('fa-eye');
    
  });
});
</script>


