<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <!-- общий CSS -->
  <link rel="stylesheet" href="/css/style.css">

  
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        referrerpolicy="no-referrer">

  
  {{#if isLoginPage}}
    <link rel="stylesheet" href="/css/login.css">
  {{/if}}

  
  {{#if isOrdersPage}}
    <link rel="stylesheet" href="/css/orders.css">
  {{/if}}
  
</head>
<body class="{{#if isLoginPage}}login{{/if}}">

  
  {{#unless isLoginPage}}
    <header>
      <nav>
        <ul>
          {{#if cookies.user_id}}
            <li><a href="/orders/my">Мои заказы</a></li>
            <li><a href="/orders/my-archive">Архив</a></li>

            {{#eq session.user.role "admin"}}
              <li><a href="/orders/active">Активные заказы</a></li>
              <li><a href="/orders/archive">Архив</a></li>
            {{/eq}}

            {{!-- <li><a href="/profile">Профиль</a></li> --}}
            <li><a href="/logout">Выйти</a></li>
          {{else}}
            <li><a href="/login">Выйти</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
  {{/unless}}

  <main>
    {{{body}}}
  </main>

  <script src="/js/edit.js"></script>
</body>
</html>
