<div class="new-order-page">
  <h1 class="orders-title">Новый заказ</h1>

  <form action="/orders/new" method="post" class="order-form">
    <label>ФИО заказчика
      <input name="customer_name"
            pattern="^[А-Яа-яЁё\s\-]+$" minlength="5" maxlength="60" title="Только русские буквы, пробелы и дефис"  required>       <!-- ❱ только буквы/пробел/- -->
    </label>


    <label>Телефон
      <input name="customer_phone" type="tel" pattern="^\+7\d{10}$" minlength="10" maxlength="15" title="Формат: +7XXXXXXXXXX" required>   
    </label>

    <label>
      Название товара
      <input type="text"       name="product_name"    required>
    </label>

    <label>
      Количество
      <input type="number"     name="quantity"        min="1" required>
    </label>

    <label>
      Цена за единицу
      <input type="number"     name="unit_price"      step="0.01" min="0" required>
    </label>

    <label>
      Ссылка на товар
      <input type="url"        name="product_link">
    </label>

    <label>Желаемая дата доставки
      <input name="delivery_date"
            type="date"
            min="{{today}}" required>        <!-- нельзя выбрать вчера -->     
    </label>

    <button type="submit" class="btn-submit">Отправить</button>
  </form>
</div>
